#---------------------------------------------------------
# Templates configuration file
# Values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------
# Since v 2.0 the project's variables can be used in file and folder name
#---------------------------------------------------------

Entity mock tool               ; ${BEANNAME}EntityMock.java         ; ${SRC}/${ROOT_PKG}/test/mock           ; bean_mock.vm    ; *

# Entities persistence services classes
Persistence service implem. FAKE; ${BEANNAME}PersistenceFAKE.java; ${SRC}/${ROOT_PKG}/test/persistence/services/fake; persistence_service_fake.vm ; *

Persistence service JUnit test  ; ${BEANNAME}PersistenceTest.java; ${TEST_SRC}/${ROOT_PKG}/test/persistence    ; persistence_service_junit.vm ; *

Mock values class              ; MockValues.java                 ; ${SRC}/${ROOT_PKG}/test/mock/tool                ; env/MockValues.vm         ; 1

FAKE generic service  class    ; GenericFakeService.java         ; ${SRC}/${ROOT_PKG}/test/persistence/commons/fake ; env/GenericFakeService.vm         ; 1
